# Default values for canary-checker.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicas: 1

image:
  repository: docker.io/flanksource/canary-checker
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

dockerSocket: "true"

db:
  embedded:
    # If the database is embedded, setting this to true will persist the contents of the database
    # through a persistent volume
    persist: true
    storageClass:
    storage:
  external:
    # Setting this to true will create a postgres stateful set for canary-checker to connect to.
    enabled: false
    secretKeyRef:
      # Setting this to true will create the secret automatically.
      create: true
      name: postgres-connection
      # This is the key that either the secret will create(if create is true) or this is the key
      # it will look for in the secret(if secretRefKey is mentioned). The name of the key is
      # mandatory to set.
      key: DB_URL
    storageClass:
    storage:

nameOverride: ""

ingress:
  enabled: false
  className: ""
  annotations:
    kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  host: canary-checker
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  requests:
    cpu: 200m
    memory: 200Mi
  limits:
    memory: 512Mi

extra:
  # nodeSelector:
  #   key: value
  # tolerations:
  #   - key: "key1"
  #     operator: "Equal"
  #     value: "value1"
  #     effect: "NoSchedule"
  # affinity:
  #   nodeAffinity:
  #       requiredDuringSchedulingIgnoredDuringExecution:
  #         nodeSelectorTerms:
  #         - matchExpressions:
  #           - key: kubernetes.io/e2e-az-name
  #             operator: In
  #             values:
  #             - e2e-az1
  #             - e2e-az2
