.bin/
bin/
.creds/
.release/
.idea/
.env
.certs
.kube
docs/cli/
.DS_Store
cover.out
test.test
test.out
*.tgz
*.log
wait4x
.vscode/
chart/templates/crd.yaml
postgres-db/
ui/scripts/
Chart.lock
chart/charts/
.downloads
tmp/
ginkgo.report
__debug*
test-results.xml
coverprofile.out
junit-report.xml
canary-checker.properties
*.code-workspace
