apiVersion: apps/v1
{{- if and (eq .Values.db.external.enabled false) ( eq .Values.db.embedded.persist true) }}
kind: StatefulSet
{{- else }}
kind: Deployment
{{- end }}
metadata:
  name: {{ include "canary-checker.name" . }}
  labels:
    {{- include "canary-checker.labels" . | nindent 4 }}
    {{- include "canary-checker.extraLabels" . | nindent 4 }}
spec:
  # running multiple replicas is not supported: https://github.com/flanksource/canary-checker/issues/2042
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      {{- include "canary-checker.selectorLabels" . | nindent 6 }}
  {{- if eq .Values.db.external.enabled false }}
  {{- if eq .Values.db.embedded.persist true }}
  serviceName: {{ include "canary-checker.fullname" . }}
  volumeClaimTemplates:
    - metadata:
        name: canarychecker-database
        labels:
          {{- include "canary-checker.labels" . | nindent 10 }}
      spec:
        {{- if not (eq .Values.db.embedded.storageClass "") }}
        storageClassName: {{ .Values.db.embedded.storageClass }}
        {{- end }}
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ .Values.db.embedded.storage }}
  {{- end }}
  {{- end }}
  template:
    metadata:
      {{- with  (merge .Values.podAnnotations .Values.global.podAnnotations) }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "canary-checker.selectorLabels" . | nindent 8 }}
        {{- include "canary-checker.extraLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      volumes:
        {{- if eq .Values.dockerSocket true }}
        - name: dockersock
          hostPath:
            path: /var/run/docker.sock
        {{- end }}
        {{- if eq .Values.containerdSocket true }}
        - name: containerdsock
          hostPath:
            path: /run/containerd/containerd.sock
        {{- end }}
        - name: podinfo
          downwardAPI:
            items:
              - path: "labels"
                fieldRef:
                  fieldPath: metadata.labels
        - name: config
          configMap:
            name: {{ include "canary-checker.name" . }}
        {{- with .Values.volumeMounts }}
          {{- toYaml . | nindent 8}}
        {{- end }}
      securityContext:
        fsGroup: 1000
        {{- if eq .Values.pingMode "unprivileged" }}
        sysctls:
          - name: net.ipv4.ping_group_range
            value: "0 2147483647"
        {{- end }}
      {{- if eq .Values.db.embedded.persist true }}
      initContainers:
        - image: busybox
          name: postgres-perms
          command:
            - sh
            - -c
            - mkdir -p /opt/database && chmod -R 0750 /opt/database && chown 1000:1000 -R /opt/database
          volumeMounts:
            - mountPath: /opt/database
              name: canarychecker-database
      {{- end}}
      containers:
        - name: {{ include "canary-checker.name" . }}
          {{- if eq .Values.allowPrivilegeEscalation true }}
          securityContext:
            allowPrivilegeEscalation: true
            capabilities:
              add:
                - CAP_NET_RAW
          {{- end }}
          image: {{ include "canary-checker.imageString" . }}
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          env:
            {{- if (tpl .Values.otel.labels .)}}
            - name: OTEL_LABELS
              value: '{{ tpl .Values.otel.labels .}}'
            {{- end}}
            - name: PING_MODE
              value:  {{ .Values.pingMode | quote }}
            {{- if eq .Values.debug true }}
            - name: DEBUG
              value: "true"
            {{- end }}
            {{- if eq .Values.dockerSocket true }}
            - name: DOCKER_API_VERSION
              value: "1.39"
            {{- end }}
            - name: DB_URL
              {{- if eq .Values.db.external.enabled true }}
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.global.db.connectionPooler.enabled }}{{ .Values.global.db.connectionPooler.secretKeyRef.name }}{{ else }}{{ .Values.db.external.secretKeyRef.name }}{{ end }}
                  key: {{ if .Values.global.db.connectionPooler.enabled }}{{ .Values.global.db.connectionPooler.secretKeyRef.key }}{{ else }}{{ .Values.db.external.secretKeyRef.key }}{{ end }}
              {{- else }}
              value: "embedded:///opt/database/"
              {{- end }}
          {{- if .Values.upstream.secretKeyRef.name }}
          envFrom:
            - secretRef:
                name: {{ .Values.upstream.secretKeyRef.name }}
          {{- end }}
          volumeMounts:
            {{- if eq .Values.dockerSocket true }}
            - name: dockersock
              mountPath: "/var/run/docker.sock"
            {{- end }}
            {{- if eq .Values.containerdSocket true }}
            - name: containerdsock
              mountPath: "/run/containerd/containerd.sock"
            {{- end }}
            {{- if eq .Values.db.external.enabled false }}
            {{- if eq .Values.db.embedded.persist true }}
            - name: canarychecker-database
              mountPath: "/opt/database"
            {{- end }}
            {{- end }}
            - mountPath: /etc/podinfo
              name: podinfo
            - mountPath: /app/canary-checker.properties
              name: config
              subPath: canary-checker.properties
            {{- with .Values.volumeMounts }}
              {{- toYaml . | nindent 12}}
            {{- end }}
          command:
            - /app/canary-checker
          args:
            - operator
            {{- if (tpl .Values.logLevel .)}}
            - {{ tpl .Values.logLevel . }}
            {{- end }}
            - --httpPort
            - "8080"
            - --disable-postgrest={{ .Values.disablePostgrest }}
            - --db-migrations={{ .Values.db.runMigrations }}
            {{- if .Values.db.postgrestAnonRole}}
            - --postgrest-anon-role={{.Values.db.postgrestAnonRole}}
            {{- end }}
            {{- if ne .Values.canaryNamespace "" }}
            - --namespace={{ .Values.canaryNamespace }}
            {{- end }}
            {{- if ne .Values.canaryNamespaceSelector "" }}
            - --include-namespace={{ .Values.canaryNamespaceSelector }}
            {{- end }}
            {{- if ne .Values.canarySelector "" }}
            - --include-canary={{ .Values.canarySelector }}
            {{- end }}
            {{- if ne .Values.canaryLabelSelector "" }}
            - --include-labels={{ .Values.canaryLabelSelector }}
            {{- end }}
            {{- if gt (int .Values.replicas) 1 }}
            - --enable-leader-election=true
            {{- end }}
            {{- if .Values.jsonLogs }}
            - --json-logs
            {{- end }}
            {{- range $k, $v := .Values.extraArgs}}
            - --{{$k}}={{$v}}
            {{- end }}
            {{- if .Values.upstream.enabled }}
            {{- if .Values.upstream.host }}
            - --upstream-host={{ .Values.upstream.host }}
            {{- end}}
            {{- if .Values.upstream.user }}
            - --upstream-user={{ .Values.upstream.user }}
            {{- end}}
            {{- if .Values.upstream.password }}
            - --upstream-password={{ .Values.upstream.password }}
            {{- end}}
            {{- if .Values.upstream.agentName }}
            - --agent-name={{ .Values.upstream.agentName }}
            {{- end}}
            {{- if .Values.upstream.insecureSkipVerify}}
            - --upstream-insecure-skip-verify=true
            {{- end}}
            {{- end }}
            {{- if ne .Values.prometheusURL "" }}
            - --prometheus={{ tpl .Values.prometheusURL . }}
            {{- end }}
            {{- if (tpl .Values.otel.collector .) }}
            - --otel-collector-url={{ tpl .Values.otel.collector . | default "" }}
            {{- end }}
            {{- if .Values.labelsAllowList}}
            - --metric-labels-allowlist={{ join "," .Values.labelsAllowList }}
            {{- end}}
            {{- if (tpl .Values.otel.serviceName .) }}
            - --otel-service-name={{ tpl .Values.otel.serviceName . | default "canary-checker" }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
      {{- with .Values.extra }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with  (merge .Values.nodeSelector .Values.global.nodeSelector ) }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with  (merge .Values.affinity .Values.global.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with  (concat .Values.tolerations .Values.global.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
