{{- if (lookup "apiextensions.k8s.io/v1" "CustomResourceDefinition" "" "servicemonitors.monitoring.coreos.com") }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "canary-checker.name" . }}-monitor
  labels:
    {{- include "canary-checker.labels" . | nindent 4 }}
spec:
  jobLabel: {{ include "canary-checker.name" . }}
  endpoints:
    - port: metrics
      interval: 30s
  selector:
    matchLabels:
      {{- include "canary-checker.labels" . | nindent 6 }}
{{- end }}
