<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>CanaryChecker</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" integrity="sha384-XgZwFDpD0H/kXDKWfqr220tj/JeeUM9D7QGxMG51y9eOG3OmXA253hizoRT90joS" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles.css">

</head>
<body>
  <div class="ml-4 mr-4" id="app">
    <button v-if="disableReload" v-on:click="resumeAutoUpdate" type="button" class="btn btn-danger float-right" v-cloak>
      <i class="material-icons md-18 align-middle">play_arrow</i>
      <span class="align-middle">Resume auto update</span>
    </button>
    <button v-else=type="button" v-on:click="pauseAutoUpdate" type="button" class="btn btn-primary float-right">
      <i class="material-icons md-18 align-middle">pause</i>
      <span class="align-middle">Pause auto update</span>
    </button>

    <h1>Canary Checker</h1>
    <hr>

    <div v-if="error" class="alert alert-danger" role="alert" v-cloak>
      {{ error }}
    </div>

    <table id="checks" class="table table-sm table-fixed text-nowrap" v-cloak>
      <thead>
        <th class="border-right">Type</th>
        <th class="border-right">NS/Name</th>
        <th class="border-right">Name</th>
        <th v-for="(server, serverName) in serversByNames" :key="server" class="border-right">{{ serverName }}</th>
      </thead>
      <template v-for="(typed, name) in groupedChecks" :key="name">
        <tbody v-for="(checks, type) in typed" :key="type" class="border-bottom border-secondary">
          <tr v-for="(check, idx) in checks" :key="check.key">
            <td v-if="idx === 0" class="align-middle border-right" :rowspan="checks.length">
              <img :src="'images/' + type + '.svg'" height="20px" :title="type"></i>
            </td>
            <td v-if="idx === 0" class="align-middle border-right" :rowspan="checks.length">
              <span class="badge badge-secondary">{{ name }}</span>
            </td>
            <td class="align-middle w-25">
              <span class="float-left w-75 pr-5">{{ check.description }}</span>
              <button class="btn btn-info btn-xs float-right check-button" @click="triggerCheck(check, $event)" title="Trigger the check on every server">
                <i class="material-icons md-12 align-middle">send</i>
              </button>
            </td>
            <td v-for="(server, serverName) in serversByNames" :key="server" class="align-top border-right border-left w-25">
              <check-tds v-if="check.checkStatuses[server]" :check="check" :server="server"></check-tds>
            </td>
          </tr>
        </tbody>
      </template>
    </table>

    <div v-if="lastRefreshed" id="last-refreshed" v-cloak>
      Last refreshed <span>{{ lastRefreshed }}</span>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.5.1/vuex.min.js" integrity="sha384-LiIJNOpyvdXELIx0yBiazgrvDGSE2p8aHU27i55lTzWC42cNiFqDNWIlU8ocTyWI" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha256-Xt8pc4G0CdcRvI0nZ2lRpZ4VHng0EoUDMlGcBSQ9HiQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js" integrity="sha384-cDoY3x6UZAwTo6Hcrpt7XZFIDBRjzGKs+vBAx+TA2u19a+Z4MxCiFJ2kc+deGRdp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js" integrity="sha384-3zW4Ss6nBzDaj/vvjP2Qwu5xaWAzOgTSccYj0DfBO/5tDzQksJa+tWrYMlYPM00u" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/timeago-simple@1.2.4/index.js" integrity="sha384-sDyFZEqgqAdEnbKtHQZC+ZgQ7LhVw/n1QP9dTSnROviQWnwNcbrJhgVMMAsTiEWh" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/date-and-time/date-and-time.min.js" integrity="sha384-X8jTRWus7L1ihlxKLSh8HcYSmmTSPPc2jgX1+0JI82gha5XancNzIeIt+LMUczVi" crossorigin="anonymous"></script>

  <script type="text/javascript" src="./storage.js"></script>
  <script type="text/javascript" src="./script.js"></script>
</body>
</html>
