apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    control-plane: canary-checker
  name: canary-checker-sa
  namespace: platform-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: canary-checker-role
rules:
  - apiGroups:
      - canaries.flanksource.com
    resources:
      - canaries
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - canaries.flanksource.com
    resources:
      - canaries/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - pods
      - namespaces
      - services
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - pods/exec
      - pods/logs
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - secrets
      - configmaps
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - configmaps/status
    verbs:
      - get
      - update
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: canary-checker-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: canary-checker-role
subjects:
  - kind: ServiceAccount
    name: canary-checker-sa
    namespace: platform-system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: canary-checker
  name: canary-checker
  namespace: platform-system
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    control-plane: canary-checker
---
apiVersion: scheduling.k8s.io/v1
description: This priority class should be used for canary pods only.
globalDefault: false
kind: PriorityClass
metadata:
  name: canary-checker-priority
value: -1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: canary-checker
  name: canary-checker
  namespace: platform-system
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: canary-checker
  template:
    metadata:
      labels:
        control-plane: canary-checker
    spec:
      containers:
        - args:
            - operator
            - -v
            - --httpPort
            - "8080"
          command:
            - /app/canary-checker
          env:
            - name: DOCKER_API_VERSION
              value: "1.39"
          image: docker.io/flanksource/canary-checker:latest
          livenessProbe:
            httpGet:
              path: /index.html
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          name: canary-checker
          readinessProbe:
            httpGet:
              path: /index.html
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            limits:
              memory: 512Mi
            requests:
              cpu: 200m
              memory: 200Mi
          securityContext:
            allowPrivilegeEscalation: true
            capabilities:
              add:
                - CAP_NET_RAW
            privileged: true
            runAsUser: 0
          volumeMounts:
            - mountPath: /var/run/docker.sock
              name: dockersock
            - mountPath: /etc/podinfo
              name: podinfo
      serviceAccountName: canary-checker-sa
      terminationGracePeriodSeconds: 10
      volumes:
        - hostPath:
            path: /var/run/docker.sock
          name: dockersock
        - downwardAPI:
            items:
              - fieldRef:
                  fieldPath: metadata.labels
                path: labels
          name: podinfo
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    control-plane: canary-checker
  name: canary-checker-monitor
  namespace: platform-system
spec:
  endpoints:
    - interval: 30s
      port: metrics
  jobLabel: canary-checker
  namespaceSelector:
    matchNames:
      - platform-system
  selector:
    matchLabels:
      control-plane: canary-checker
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/tls-acme: "true"
  name: canary-checker
  namespace: platform-system
spec:
  rules:
    - host: canaries.{{.domain}}
      http:
        paths:
          - backend:
              service:
                name: canary-checker
                port:
                  number: 8080
            path: /
            pathType: ImplementationSpecific
  tls:
    - hosts:
        - canaries.{{.domain}}
      secretName: canary-tls
