name: AWS-exec-test

on:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read
  id-token: write

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        suite:
          - aws/minimal
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: 1.20.x
      - name: Checkout code
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - uses: actions/cache@8492260343ad570701412c2f464a5877dc76bace # v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            .bin
          key: cache-${{ hashFiles('**/go.sum') }}-${{ hashFiles('.bin/*') }}
          restore-keys: |
            cache-
      - name: Build
        run: make bin
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@010d0da01d0b5a38af31e9c3470dbfdabdecca3a # v4.0.1
        with:
          role-to-assume: arn:aws:iam::765618022540:role/canary-checker-github-iam-Role-N9JG51I5V3JJ
          aws-region: us-east-1
          role-duration-seconds: 1800 # 30 minutes
      - name: Test
        env:
          KUBERNETES_VERSION: v1.20.7
          GH_TOKEN: ${{ secrets.CHECKRUNS_TOKEN }}
        run: ./test/e2e.sh fixtures/${{matrix.suite}}
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@b9f6c61d965bcaa18acc02d6daf706373a448f02 # v1.40
        if: always() &&  github.event.repository.fork == 'false'
        with:
          files: test/test-results.xml
          check_name: E2E - ${{matrix.suite}}
