name: AWS-exec-test

on:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read
  id-token: write

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        suite:
          - aws/minimal
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version: 1.22.x
      - name: Checkout code
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: actions/cache@2cdf405574d6ef1f33a1d12acccd3ae82f47b3f2 # v4.1.0
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            .bin
          key: cache-${{ hashFiles('**/go.sum') }}-${{ hashFiles('.bin/*') }}
          restore-keys: |
            cache-
      - name: Build
        run: make bin
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@010d0da01d0b5a38af31e9c3470dbfdabdecca3a # v4.0.1
        with:
          role-to-assume: arn:aws:iam::765618022540:role/canary-checker-github-iam-Role-N9JG51I5V3JJ
          aws-region: us-east-1
          role-duration-seconds: 1800 # 30 minutes
      - name: Test
        env:
          KUBERNETES_VERSION: v1.20.7
          GH_TOKEN: ${{ secrets.CHECKRUNS_TOKEN }}
        run: ./test/e2e.sh fixtures/${{matrix.suite}}
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@f355d34d53ad4e7f506f699478db2dd71da9de5f # v2.15.1
        if: always() &&  github.event.repository.fork == 'false'
        with:
          files: test/test-results.xml
          check_name: E2E - ${{matrix.suite}}
