on:
  push:
    tags:
      - v*
    branches:
      - master
    paths:
      - "**.go"
      - "Makefile"
      - "**.yaml"
      - "**.yml"
      - "test/**"
  pull_request:
    paths:
      - "**.go"
      - "Makefile"
      - "**.yaml"
      - "**.yml"
      - "test/**"
name: Operator E2E Test
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: 1.22.x
      - name: Checkout code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      - uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4.0.0
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            .bin
          key: cache-${{ hashFiles('**/go.sum') }}-${{ hashFiles('.bin/*') }}
          restore-keys: |
            cache-
      - run: make bin
      - name: Test
        run: ./test/e2e-operator.sh
