on:
  push:
    tags:
      - v*
    branches:
      - master
    paths:
      - "**.go"
      - "Makefile"
      - "**.yaml"
      - "**.yml"
      - "test/**"
  pull_request:
    paths:
      - "**.go"
      - "Makefile"
      - "**.yaml"
      - "**.yml"
      - "test/**"
name: Operator E2E Test
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.25.x

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            .bin
          key: cache-${{ hashFiles('**/go.sum') }}-${{ hashFiles('.bin/*') }}
          restore-keys: |
            cache-

      - run: make bin

      - name: Set up Kind & Kubectl
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          version: v0.21.0
          cluster_name: kind-test

      - name: Wait for cluster to be ready
        run: |
          kubectl wait --for=condition=Ready nodes --all --timeout=300s

      - name: Test
        run: ./test/e2e-operator.sh
