on:
  pull_request:
permissions:
  contents: read
  checks: write
  issues: write
  pull-requests: write
name: Go Test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: 1.20.x
      - name: Checkout code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      - uses: actions/cache@8492260343ad570701412c2f464a5877dc76bace # v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: cache-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            cache-
      - name: Test
        run: make test
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@4e7013f9576bd22ffdae979dc6e68cb9ec2aeece # v2.7.0
        if: always() && github.event.repository.fork == 'false'
        with:
          files: test/test-results.xml
          check_name: E2E - ${{matrix.suite}}
