name: Helm Test
on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Kubernetes KinD Cluster
        uses: container-tools/kind-action@0ad70e2299366b0e1552c7240f4e4567148f723e # v2.0.4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          driver-opts: network=kind
          buildkitd-flags: --allow-insecure-entitlement network.host
          config-inline: |
            [registry."kind-registry:5000"]
              http = true
              insecure = true

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ./build/full/Dockerfile
          push: true
          tags: kind-registry:5000/flanksource/canary-checker:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
        env:
          KIND_REGISTRY: kind-registry:5000

      - name: Update canary-checker image in helm chart
        uses: mikefarah/yq@065b200af9851db0d5132f50bc10b1406ea5c0a8 # v4.50.1
        with:
          cmd: yq -i e '.global.imageRegistry = "kind-registry:5000"' chart/values.yaml

      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.11.3

      - name: Package helm chart
        run: |
          helm dependency build ./chart
          helm package ./chart --version 1.0.0

      - name: Install helm chart
        run: "helm install canary-checker canary-checker-1.0.0.tgz -n canary-checker --create-namespace"

      - name: Wait for 30 seconds
        run: "kubectl rollout status deploy/canary-checker -n canary-checker --timeout 5m"

      - name: Check canary-checker pods
        run: "kubectl describe pods -n canary-checker"

      - name: Run tests
        run: ./chart/test.sh canary-checker

      - name: Check logs
        run: kubectl logs deploy/canary-checker -n canary-checker
        if: always()
