name: Lint
on:
  push:
    branches:
      - master
      - main
    paths:
      - "**.go"
      - "Makefile"
      - "**.yaml"
      - "**.yml"
      - "**/github/workflows/lint.yml"
      - "**/.eslint*"
      - "**/package.json"
      - "Makefile"
      - "**.jsx?"
      - "**.tsx?"
      - "chart/**"
  # pull_request:
  #   paths:
  #     - "**.go"
  #     - "Makefile"
  #     - "**.yaml"
  #     - "**.yml"
  #     - "**/github/workflows/lint.yml"
  #     - "**/.eslint*"
  #     - "**/package.json"
  #     - "Makefile"
  #     - "**.jsx?"
  #     - "**.tsx?"
  #     - "chart/**"
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18.x
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.46.0
      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: "12"
      - name: Check auto-generated files
        env:
          CI: false
        run: |
          mkdir -p ui/build
          touch ui/build/noop
          make resources
          git diff
          changed_files=$(git status -s)
          [[ -z "$changed_files" ]] ||  (printf "Change is detected in some files: \n$changed_files\n Did you run 'make resources' before sending the PR?" && exit 1)
  helm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.1.0
      - name: Lint chart
        run: ct lint --charts ./chart
