on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
  merge_group:
name: Test
permissions:
  contents: read
jobs:
  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Install Go
  #       uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
  #       with:
  #         go-version: 1.25.x
  #     - name: Checkout code
  #       uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
  #     - uses:actions/cache@v4.2.0
  #       with:
  #         path: |
  #           ~/go/pkg/mod
  #           ~/.cache/go-build
  #           .bin
  #         key: cache-${{ hashFiles('**/go.sum') }}-${{ hashFiles('.bin/*') }}
  #         restore-keys: |
  #           cache-
  #     - run: make  build
  #     - run: cd test && make build
  #     - run: make compress-build
  #     - uses: actions/upload-artifact@v3
  #       with:
  #         name: bin
  #         path: |
  #           .bin/canary-checker
  #           .bin/canary-checker.test
  test:
    strategy:
      fail-fast: false
      matrix:
        suite:
          - { name: minimal --skip-all, on: ubuntu-latest }
          - { name: k8s, on: ubuntu-latest }
          - { name: datasources, on: ubuntu-latest }
          - { name: opensearch, on: ubuntu-latest }
          # - { name: elasticsearch, on: ubuntu-latest }
          - { name: git, on: ubuntu-latest }
          # - restic
    runs-on: ${{ matrix.suite.on }}
    steps:
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 1.25.x
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: go install github.com/onsi/ginkgo/v2/ginkgo@v2.22.2
      - run: make bin
      - name: Test
        env:
          KUBERNETES_VERSION: v1.30.6
          GH_TOKEN: ${{ secrets.CHECKRUNS_TOKEN }}
        run: ./test/e2e.sh fixtures/${{matrix.suite.name}}
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@3a74b2957438d0b6e2e61d67b05318aa25c9e6c6 # v2.20.0
        if: always() &&  github.event.repository.fork == 'false'
        with:
          files: test/test-results.xml
          check_name: E2E - ${{matrix.suite.name}}
