on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
  merge_group:
name: Test
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        suite:
          - minimal --skip-all
          - k8s
          - datasources
          - git
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19.x
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            .bin
          key: cache-${{ hashFiles('**/go.sum') }}-${{ hashFiles('.bin/*') }}
          restore-keys: |
            cache-
      - run: make bin
      - name: Install restic
        run: |
          sudo apt-get install restic
          sudo restic self-update
      - name: Test
        env:
          KUBERNETES_VERSION: v1.20.7
          GH_TOKEN: ${{ secrets.CHECKRUNS_TOKEN }}
        run: ./test/e2e.sh fixtures/${{matrix.suite}}
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always() &&  github.event.repository.fork == 'false'
        with:
          files: test/test-results.xml
          check_name: E2E - ${{matrix.suite}}
